mixin pfc(name, id, constant)
  tr(id="pfc_" + id, data-tdee-constant=constant)
    td #{name}
    td.p 0
    td.f 0
    td.c 0

doctype html
html(data-ts-native)
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    title PFC Calculator
    link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")
    link(rel="apple-touch-icon", href="/apple-touch-icon.png")
    link(rel="apple-touch-icon", sizes="57x57", href="/apple-touch-icon-57x57.png")
    link(rel="apple-touch-icon", sizes="72x72", href="/apple-touch-icon-72x72.png")
    link(rel="apple-touch-icon", sizes="76x76", href="/apple-touch-icon-76x76.png")
    link(rel="apple-touch-icon", sizes="114x114", href="/apple-touch-icon-114x114.png")
    link(rel="apple-touch-icon", sizes="120x120", href="/apple-touch-icon-120x120.png")
    link(rel="apple-touch-icon", sizes="144x144", href="/apple-touch-icon-144x144.png")
    link(rel="apple-touch-icon", sizes="152x152", href="/apple-touch-icon-152x152.png")
    link(rel="apple-touch-icon", sizes="180x180", href="/apple-touch-icon-180x180.png")
    link(rel="apple-touch-startup-image", href="/apple-touch-icon-320x480.png")
    link(rel='stylesheet', href='//cdn.rawgit.com/TeaMeow/TocasUI/master/dist/tocas.min.css')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js')
  body
    .ts.text.container(style="margin-top: 1em")
      .ts.grid
        .sixteen.wide.column
          h1.ts.header
            | 計算每日所需消耗蛋白質、脂肪、碳水化合物
          .ts.section.divider
        .sixteen.wide.column
          .ts.fluid.right.labeled.action.input(style="width:100%")
            .ts.label
              | 您的體重
            input#weight(type='text')
            .ts.basic.label
              | kg
            button.ts.button#calculate
              | 計算
        .sixteen.wide.column
          table.ts.fixed.table#result
            thead
              tr
                th 運動情況
                th P
                th F
                th C
            tbody
              +pfc("久坐", "sedentary", 1.2)
              +pfc("輕微運動", "light", 1.375)
              +pfc("中度運動", "moderate", 1.55)
              +pfc("高度運動", "very", 1.725)
              +pfc("極端運動", "extreme", 1.9)
            tfoot
              tr
                th(colspan="4")
                  | P：Protein（蛋白質），F：Fat（脂肪），C：Carbohydrate（碳水化合物）。
                  | 以上數據單位均為
                  b
                    |卡路里（cal）
                  |。
  script.
    var calculate = function() {
      var weight = $("#weight").val();
      var bw = weight * 2.2;
      var bmr = bw * 10;
      var r = function (f) {
        return Math.round(f);
      }

      $("table#result tbody tr").each(function() {
        var p = r(bw * 1.1),
            f = r(bw * 0.4),
            c = r((bmr * $(this).data("tdee-constant") - 4 * p - 9 * f) / 4);

        $("td.p", this).text(p);
        $("td.f", this).text(f);
        $("td.c", this).text(c);
      });
    };

    $("#weight").change(calculate);
    $("#calculate").click(calculate);