mixin pfc(name, id, constant)
  span [#{name}]
  span.result(id="pfc_"+id,data-tdee_constant=constant) N/A
  br/

html
  head
    title PFC Calculator
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js')
    link(rel='stylesheet', href='/assets/style.css')
  body
    #form
      input#weight(type='text',placeholder='Weight (kg)')/
    #result
      +pfc("久坐", "sedentary", 1.2)
      +pfc("輕微運動", "light", 1.375)
      +pfc("中度運動", "moderate", 1.55)
      +pfc("高度運動", "very", 1.725)
      +pfc("極端運動", "extreme", 1.9)
  script.
    $("#weight").change(function() {
      var weight = $("#weight").val();
      var bw = weight * 2.2;
      var bmr = bw * 10;
      var r = function (f) {
        return Math.round(f);
      }
      var tdee = function (k) {
        return r(bmr * k);
      }
      var pfc = function (name, k) {
        var p = r(bw * 1.1),
            f = r(bw * 0.4),
            c = r((tdee(k) - 4 * p - 9 * f) / 4);
        $("#pfc_" + name).text("P: " + p + " F: " + f + " C: " + c);
      }

      $("div#result span.result").each(function() {
        var p = r(bw * 1.1),
            f = r(bw * 0.4),
            c = r((tdee($(this).data("tdee_constant")) - 4 * p - 9 * f) / 4);

        $(this).text("P: " + p + " F: " + f + " C: " + c);
      });
    });